
<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">©2022 yuk6ra</li>
            <!-- {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%} -->
            <!-- <p>{{- site.description | escape -}}</p> -->
          </ul>
      </div>

      <div class="footer-col footer-col-2">
        <p>Opensea</p>
        <!-- opensea -->
        <ul class="social-media-list">
          <li>
            <a href="https://opensea.io/collection/nlights">
              <span class="">Northern Lights</span>
            </a>
          </li>
        </ul>
      </div>  

      <div class="footer-col footer-col-3">
        <p>SNS</p>
        <ul class="social-media-list">
          <!-- twitter -->
          <li>
            <a href="https://twitter.com/yuk6ra">
              <svg class="svg-icon"> 
                <use class="fa-brands fa-twitter"></use>
              </svg>
              <span class="">yuk6ra</span>
            </a>
          </li>
          <!-- instagram -->
          <li>
            <a href="https://instagram.com/yuk6ra">
              <svg class="svg-icon"> 
                <use class="fa-brands fa-instagram"></use>
              </svg>
              <span class="">yuk6ra</span>
            </a>
          </li>
        </ul>        
      </div>
    </div>

  </div>

  <script defer src="https://use.fontawesome.com/releases/v6.2.0/js/all.js"></script>

</footer>
