---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "Top" }}</h2>

  <ul class="post-list">
    <li>
    {%- assign date_format = site.minima.date_format | default: "%Y %b %d" -%}
    <span class="post-meta">{{ site.posts[-2].date | date: date_format }}</span>
    <span class="post-meta">{{ site.posts[-2].categories }}</span>
    <h3>
      <a class="post-link" href="{{ site.posts[-2].url | relative_url }}">
        {{ site.posts[-2].title | escape }}
      </a>
    </h3>
    {%- if site.show_excerpts -%}
      {{ site.post[-2].excerpt }}
    {%- endif -%}
  </li>
  <li>
    {%- assign date_format = site.minima.date_format | default: "%Y %b %d" -%}
    <span class="post-meta">{{ site.posts[-3].date | date: date_format }}</span>
    <span class="post-meta">{{ site.posts[-3].categories }}</span>
    <h3>
      <a class="post-link" href="{{ site.posts[-3].url | relative_url }}">
        {{ site.posts[-3].title | escape }}
      </a>
    </h3>
    {%- if site.show_excerpts -%}
      {{ site.post[-3].excerpt }}
    {%- endif -%}
  </li></ul>

  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%Y %b %d" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <span class="post-meta">{{ post.categories }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}

</div>